---
// Translation
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Collections
import { getCollection } from 'astro:content';
const allProjects = await getCollection('projects');

const projects = allProjects
    .filter((project) => project.data.lang === lang)
    .map((project) => ({
        title: project.data.title,
        category: project.data.category,
        url: `/${lang}/projects/${project.data.permalink}`, 
        img: project.data.banner,
        alt: project.data.alt,
        year: project.data.year,
        name: project.data.name,
        description: project.data.description,
        status: project.data.status as 'new' | 'pinned' | undefined,
        tags: project.data.tags
    }));

// More weight = higher on the list
const statusWeight = { pinned: 1, new: 2, default: 3 };

const sortedProjects = [...projects].sort((a, b) => {
    const weightA = statusWeight[a.status as keyof typeof statusWeight] || statusWeight.default;
    const weightB = statusWeight[b.status as keyof typeof statusWeight] || statusWeight.default;
    return weightA - weightB;
});

const { limit } = Astro.props;
const displayedProjects = limit ? sortedProjects.slice(0, limit) : sortedProjects;


const currentPath = Astro.url.pathname;
import MoreBtn from "../Global/MoreBtn.astro";
import ReturnBtn from "../Global/ReturnBtn.astro";
import ProjectCard from "./ProjectCard.astro";
import StatusTag from '../Global/StatusTag.astro';
---

<!-- Projects Section -->
<section id="projects" class="mt-40 scroll-mt-16">
    <div class="items-center justify-between gap-4 lg:flex">
        <div class="space-y-6 sm:space-y-8">
            <!-- Section tag -->
            <div class="flex w-fit items-center gap-2 rounded-full bg-purple-950/55 px-4 py-2 text-purple-300">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path fill="currentColor" d="M12.876.64V.639l8.25 4.763c.541.313.875.89.875 1.515v9.525a1.75 1.75 0 0 1-.875 1.516l-8.25 4.762a1.75 1.75 0 0 1-1.75 0l-8.25-4.763a1.75 1.75 0 0 1-.875-1.515V6.917c0-.625.334-1.202.875-1.515L11.126.64a1.75 1.75 0 0 1 1.75 0m-1 1.298L4.251 6.34l7.75 4.474l7.75-4.474l-7.625-4.402a.25.25 0 0 0-.25 0m.875 19.123l7.625-4.402a.25.25 0 0 0 .125-.216V7.639l-7.75 4.474ZM3.501 7.64v8.803c0 .09.048.172.125.216l7.625 4.402v-8.947Z" />
                </svg>
                <h2 class="text-sm font-medium tracking-wide max-sm:text-xs">{t('projects.section.tag')}</h2>
            </div>

            <!-- Section intro CHANGE!!! -->
            <h3 class="font-heading font-semibold leading-none text-[clamp(2rem,7vw,3rem)]">
                {t('projects.section.title.part1')}
                <br>
                {t('projects.section.title.part2')}
            </h3>
            <p class="text-zinc-400 max-md:text-sm">
                {t('projects.section.description.part1')}
                <br class="max-md:hidden">
                {t('projects.section.description.part2')}
            </p>
        </div>

        { currentPath === `/${lang}/projects` || currentPath === `/${lang}/projects/` ? 
            <ReturnBtn msg={t('global.return.button')} /> : 
            <MoreBtn msg={t('projects.view.more.button')} url={`/${lang}/projects/`} /> 
        }
    </div>

    <!-- Higlighted projects -->
    <div class="mt-12 grid gap-12 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Posts -->
        {displayedProjects.map((project) => (
            <div class="post-item relative" data-category={project.category}>
                {/* Project status tag */}
                {project.status && (
                    <StatusTag status={project.status} vert_pos="-top-5" />
                )}
                
                <ProjectCard 
                    title={project.title}
                    url={project.url}
                    img={project.img}
                    alt={project.alt}
                    year={project.year}
                    name={project.name}
                    description={project.description}
                    technologies={project.tags}
                />
            </div>
        ))}
    </div>
</section>