---
import { Icon } from 'astro-icon/components';

interface Props {
    projectName: string;
    projectImage: string;
    projectAlt: string;
    projectDescription: string;
    projectTags?: string[];
}

const { projectName, projectImage, projectAlt, projectDescription, projectTags = [] } = Astro.props;
---

<!-- Project card -->
<div class="flex flex-col gap-3 rounded-xl border-2 border-white text-white">
    <!-- Image -->
    <img src={projectImage} alt={projectAlt} class="border-2 border-white rounded-t-lg">

    <div class="p-5">
        <!-- Name -->
        <p class="font-bold">{projectName}</p>
        
        <!-- Description -->
        <p>{projectDescription}</p>
        
        <!-- Used techonologies tags -->
        <div class="flex flex-wrap gap-2">
            {projectTags.map((tag) => (
                <button class="border-2 border-white rounded-2xl px-3 py-0.5 text-sm">
                    <Icon name={tag} class="text-2xl"/>
                </button>
            ))}
        </div>
    </div>
</div>