---
import TechnologyIcon from './TechnologyIcon.astro';

interface Technology {
    name: string;
    icon: string;
}

interface Props {
    tree: string;
    stackName: string;
    technologies: Technology[];
}

const { tree, stackName, technologies = [] } = Astro.props;
---

<!-- Tree full structure -->
<div class="w-full flex flex-col">
    <!-- Parent directories (stack type) -->
    <div class="font-bold text-indigo-400 flex items-center gap-2 h-6">
        <span class="whitespace-pre text-gray-500">{tree}</span>
        <span>./{stackName}</span>
    </div>


    <!-- Tree children directories structure -->
    <div class="flex w-full">
        <div class="flex flex-wrap gap-3 pl-6 pb-4 pt-1 w-full items-center">
            {technologies.map((tech, index) => {
                // Checks if the actual entry is the last to assing a different symbol
                const isLastTech = index === technologies.length - 1;
                const subTreeChar = isLastTech ? "└──" : "├──";
                
                return (
                    // Creates a button for each technology with its logo and name
                    <div class="flex items-center text-sm">
                        <span class="text-gray-600 font-bold mr-1.5 whitespace-pre">{subTreeChar}</span>
                        
                        <button class="border border-gray-600 text-gray-300 rounded-md px-2 py-0.5 text-xs flex bg-[#252526]">
                            <TechnologyIcon name={tech.name} source={tech.icon} />
                        </button>
                    </div>
                );
            })}
        </div>
    </div>
</div>