---
const { name, viewbox, icon, color } = Astro.props;
---

<button class=`group flex flex-col items-center gap-2 cursor-pointer ${color}`>
    <svg aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox=`${viewbox}` class="size-12 md:max-lg:size-8">
        <Fragment set:html={icon} />
    </svg>
    <p class={`group-hover:text-inherit ${color}`}>{name}</p>
</button>