---
// Translation
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Collections
import { getCollection } from 'astro:content';
const allPosts = await getCollection('blog');

const posts = allPosts
    .filter((post) => post.data.lang === lang)
    .map((post) => ({
        title: post.data.title,
        url: `/${lang}/blog/${post.id.replace(lang + '/', '').replace(/\.mdx?$/, '')}`, 
        img: post.data.banner,
        alt: post.data.alt,
        datePublished: post.data.pubDate,
        readTime: post.data.readTime,
        description: post.data.description,
        technologies: post.data.tags,
        category: post.data.category,
        status: post.data.status as 'new' | 'pinned' | undefined
    }));

// More weight = higher on the list
const statusWeight = { pinned: 1, new: 2, default: 3 };

const sortedPosts = [...posts].sort((a, b) => {
    const weightA = statusWeight[a.status as keyof typeof statusWeight] || statusWeight.default;
    const weightB = statusWeight[b.status as keyof typeof statusWeight] || statusWeight.default;
    return weightA - weightB;
});

const { limit } = Astro.props;
const displayedPosts = limit ? sortedPosts.slice(0, limit) : sortedPosts;

// Components
const currentPath = Astro.url.pathname;
import MoreBtn from "../Global/MoreBtn.astro";
import ReturnBtn from "../Global/ReturnBtn.astro";
import Post from "./Post.astro";
import StatusTag from '../Global/StatusTag.astro';
---

<!-- Blog Section -->
<section id="blog" class="mt-40 scroll-mt-16">
    <div class="items-center justify-between gap-4 lg:flex">
        <!-- Section Tag -->
        <div class="space-y-6 sm:space-y-8">
            <div class="flex w-fit items-center gap-2 rounded-full bg-purple-950/55 px-4 py-2 text-purple-300">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32">
                    <path d="M0 0h32v32H0z" fill="none" />
                    <path fill="currentColor" d="M4 24h10v2H4zm0-6h10v2H4zm22-4H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h20a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2M6 6v6h20V6Zm20 22h-6a2 2 0 0 1-2-2v-6a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2m-6-8v6h6v-6Z" />
                </svg>
                <h2 class="text-sm font-medium tracking-wide max-sm:text-xs">{t('blog.section.tag')}</h2>
            </div>

            <!-- Section Title -->
            <h3 class="font-heading font-semibold leading-none text-[clamp(2rem,7vw,3rem)]">
                {t('blog.section.title.part1')} <br class="max-sm:hidden"> {t('blog.section.title.part2')}
            </h3>

            <!-- Section Description -->
            <p class="text-zinc-400 max-md:text-sm">
                {t('blog.section.description.part1')} <br class="max-sm:hidden"> {t('blog.section.description.part2')}
            </p>
        </div>

        <div class="w-fit flex flex-col gap-10 justify-center items-end">
            { currentPath === `/${lang}/blog` || currentPath === `/${lang}/blog/` ? 
                <ReturnBtn msg={t('global.return.button')} /> : 
                <MoreBtn msg={t('blog.view.more.button')} url={`/${lang}/blog/`} /> 
            }

            <div id="blog-filter" class="flex flex-row justify-center gap-3 max-sm:pt-8">
                <button data-filter="all" class="filter-btn px-5 py-2 flex justify-center items-center gap-3 border rounded-2xl border-[gold] bg-amber-950/30 transition-all duration-300 cursor-pointer text-[gold] font-bold">{t('blog.filter.categories.all')}</button>
                <button data-filter="tech" class="filter-btn px-5 py-2 flex justify-center items-center gap-3 border rounded-2xl border-zinc-600 transition-all duration-300 hover:bg-amber-950/20 hover:border-[gold] cursor-pointer font-bold">{t('blog.filter.categories.tech')}</button>
                <button data-filter="variety" class="filter-btn px-5 py-2 flex justify-center items-center gap-3 border rounded-2xl border-zinc-600 transition-all duration-300 hover:bg-amber-950/20 hover:border-[gold] cursor-pointer font-bold">{t('blog.filter.categories.variety')}</button>
            </div>
        </div>
    </div>

    <!-- Article List -->
    <div class="animate-fade-in-up relative mt-12 w-full">
        <!-- Posts -->
            {displayedPosts.map((post) => (
                <div class="post-item relative" data-category={post.category}>

                {/* Post status tag */}
                {post.status && (
                    <StatusTag status={post.status} vert_pos="-top-5" />
                )}
                
                <Post 
                    title={post.title}
                    url={post.url}
                    img={post.img}
                    alt={post.alt}
                    datePublished={post.datePublished}
                    readTime={post.readTime}
                    description={post.description}
                    technologies={post.technologies}
                />
            </div>
        ))}
    </div>
</section>

<script>
    const buttons = document.querySelectorAll('.filter-btn');
    const posts = document.querySelectorAll('.post-item');

    buttons.forEach((btn) => {
        btn.addEventListener('click', () => {
            // Reset buttons
            buttons.forEach((b) => {
                b.classList.remove('bg-amber-950/30', 'border-amber-400', 'text-[gold]');
                b.classList.add('border-zinc-600');
            });

            // Active current
            btn.classList.add('bg-amber-950/30', 'border-amber-400', 'text-[gold]');
            btn.classList.remove('border-zinc-600');

            // Filter posts
            const filter = btn.getAttribute('data-filter');
            posts.forEach((item) => {
                const post = item as HTMLElement;
                post.style.display = (filter === 'all' || post.getAttribute('data-category') === filter) ? 'block' : 'none';
            });
        });
    });
</script>